<%- include('../partials/header') %>


<form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:</label>
    <input type="text" name="seat" pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Tickets">
</form>


<%- include('../partials/footer') %>
